<%- include('partials/header'); -%>

<section id="home">

    <h1 id="homeHeading">Home</h1>
    <p id="homeContent">
          Click The Compose Button For Adding New Post >>>
    </p>
    <div id="postBox">
        <% for(var i=0 ; i < POSTS.length ; i++ ){ %>
    
            <h3 id="postTitle">
                <%= POSTS[i].title %>
            </h3>
    
            <p id="postContent">
                <%= POSTS[i].post.substring(0,25) + " ...." %>
                <a href= "posts/<%= POSTS[i].title %>" > Read More </a>
            </p>
    
        <% }; %>
    </div>

</section>


<%- include('partials/footer') %>